@tailwind base;
@tailwind components;
@tailwind utilities;

.splash {
  mask-image: url(/mask.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  pointer-events: none;
}

.splash::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(360deg, #030712 5%, #03071200 15%);
}
